<ul style="list-style-type:disc">
    <li>The post cannot be longer than 255 characters.</li>
    <li>Clear description of the item that you are selling.</li>
    <li>Include an e-mail address or phone number.</li>
</ul>
